* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    display: -moz-grid-group;
    place-items: center;
    text-align: center;
    background-image: url(car4.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.hero
{
  position:absolute;
  width:1200px;
  margin-left:0px;
  margin-top:0px;
}

h1{
  color: white;
  text-transform: uppercase;
  font-size: 45px;
  text-align: center;
  margin-top: 50px;
  margin-left: 13%;
}
.container {
  width: 50%;
  min-height: 120px;
  background: #140606;
  color: #fff;
  border: 5px solid rgb(241, 42, 6);
  margin-left: 32%;
  margin-top: 6%;
  text-align: center;
 
}